<div class="home-container">
  <div class="all-movies">
    <div class="trending-movies">
      <div class="top">
        <h4>Movies</h4>
      </div>
      <div class="movies-thumbnail">
        <div class="movie" *ngFor="let movie of movies }">
          <div class="cover" (click)="goToMovie('trending', movie.id)">
            <img [src]="movie.cover" alt="" />
          </div>
          <div class="detail">
            <div class="name" (click)="goToMovie('trending', movie.id)">{{ movie.name }}</div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="popular-movies">
    <h4>All Time Popular</h4>
    <div class="movies">
      <div class="movie" *ngFor="let movie of movies">
        <div class="name" (click)="goToMovie('trending', movie.id)">{{ movie.name }}</div>
        <div class="rating">
          <span class="rating-value">{{ movie.rating }}</span>
          <app-star-rating>
            [rating]="movie.rating"
            [isReadOnly]="true"
          </app-star-rating>
        </div>
      </div>
    </div>
  </div>
</div>


    
